<!DOCTYPE html>

<html>
    <head>
        <title>Open Follow-ups</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">             
        
        <link href="~/Content/datepicker.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/bootstrap-table.css" rel="stylesheet" />
        
        <link href="~/styles.css" rel="stylesheet" />
        
        
        <script src="~/Scripts/jquery-1.9.0.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/bootstrap-table.js"></script>
        <script src="~/Scripts/jquery.dateFormat-1.0.js"></script>
        <script src="~/Scripts/bootstrap-table.js"></script>
        <script src="~/Scripts/bootstrap-datepicker.js"></script>

        
    </head>
    <body>
        <div class="table-responsive">
            <table id="followups-table" data-toggle="table" data-url="../api/FollowUps/GetOpenFollowUps" data-show-refresh="true" data-cache="false">
                <thead>
                    <tr>
                        <th data-field="PatientName" data-sortable="true">PT Name</th>
                        <th data-field="AccessionNumber" data-sortable="true">Accession #</th>
                        <th data-field="ExamType" data-sortable="true">Exam Type</th>
                        <th data-field="FollowUpDate" data-sortable="true" data-formatter="dateFormatter">Follow-up Date</th>
                        <th data-field="ReferrerName" data-sortable="true">Referrer</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="modal" id="patientDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
        <script>

            function dateFormatter(value) {
                return $.format.date(new Date(value), " MM/dd/yyyy");
            }

            var oTable = $('#followups-table').bootstrapTable({
                onClickRow: function(row) {

                    openModal(row.FollowUpID);
                }
            });


            function refreshTable() {
                oTable.bootstrapTable('refresh', {
                    url: '../api/FollowUps/GetOpenFollowUps'
                });

            }

            function openModal(followUpId) {

                $.ajax({
                        url: '/Patient/PatientDetails/?followUpId= ' + followUpId,
                        contentType: 'application/html; charset=utf-8',
                        type: 'GET',
                        dataType: 'html'
                    })
                    .success(function(result) {

                        $("#patientDetailModal").html(result);
                        $('#patientDetailModal').modal('show');


                    }).error(function(xhr, status) {
                        alert(status);
                    });

            }
        </script>

    </body>
</html>